body {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
}

h1 {
    color: #339966;
    font-size: 24px;
    font-weight: 300;
    line-height: 40px;
    margin: 0 0 5px;
}

h2 {
    color: #339966;
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    margin: 5px 0 5px;
}

p {
    color: #222;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 10px;
}

a { 
    background: #fff;
    color: #222;
    text-decoration: none;
}

a:hover {
    background: #F90B6D;
    color: #eee;
    text-decoration: none;
}

td, th{
    padding: 0px 10px 0px 5px;
}

tr:nth-child(even) {
    background-color: #d9f2e6;
}

table {
    width:100%;
    border-collapse: collapse;
    /*border: 1px solid black;*/
}

.charts {
    display: inline-block;
}

.chart {
    width: 320px;
    height: 250px;
    display: inline-block;
}

.blockbutton {
    display:block;
    margin: 0 0 10px;
}

.hiddendiv {
    display:none;
}

#time {
    display:inline-block;
}