body {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    line-height: 25px;
}

h1 {
    color: #339966;
    font-size: 24px;
    font-weight: 300;
    line-height: 40px;
    margin: 0 ;
}

h2 {
    color: #339966;
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    margin: 5px 5px 5px 0px;
}

p {
    color: #222;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 3px;
}

a { 
    background: #fff;
    color: #222;
    text-decoration: none;
}

a:hover {
    background: #F90B6D;
    color: #eee;
    text-decoration: none;
}

td, th{
    padding: 0px 5px 0px 2px;
}

/*
tr:nth-child(even) {
    background-color: #d9f2e6;
}
*/

table {
    width:100%;
    border-collapse: collapse;
    /*border: 1px solid black;*/
}

button {
    font-size: 17px;
    margin: 6px 0 6px 0px;
}

input [type=text] {
    width: 30%;
}

.section_toggle {
    display:block;
    background-color:transparent;
    color: #339966;
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    border: 0;
    padding: 0;
    margin: 4px 4px 4px 0px;
}

.chart {
    display: inline-block;
}

.rmitembutton {
    margin: 1px;
    padding: 1px;
}

.selected {
    outline: 3px solid black;
}

.categorybutton {
    display:inline-block;
    margin: 5px 5px 5px 2px;
    border: 0;
    padding: 2px;
    font-size: 20px;
}

.inlineitem {
    display:inline-block;
}

.blockbutton {
    display:block;
}

.hiddendiv {
    display:none;
}